doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Commande chope
    body(style="font-family: Arial, sans-serif; margin: 0; padding: 0;")
        div(style="max-width: 700px; margin: auto; padding: 4px;")
            p Bonjour Isimalt,
            p Nous avons reçu une commande de #{data.quantity} chope(s) de la part de #{data.first_name} #{data.last_name}.
            p Le montant de la commande est de #{(data.after_discount / 100).toFixed(2)} EUR (#{(data.before_discount / 100).toFixed(2)} EUR - #{(data.discount_amount / 100).toFixed(2)} EUR).

            include ../footer.pug
