include ../components.pug

doctype html
html(lang="fr")
    +drezzingHeader('Commande de chope Isimalt')
    body
        p Bonjour Isimalt,
        p Nous avons reçu une commande de #{data.quantity} chope(s) de la part de #{data.first_name} #{data.last_name}.
        p Le montant de la commande est de #{(data.after_discount / 100).toFixed(2)} EUR (#{(data.before_discount / 100).toFixed(2)} EUR - #{(data.discount_amount / 100).toFixed(2)} EUR).

        include ../footer.pug
